<%# needs @records %>
<fieldset id="index_filter">

  <%= form_for @records.filter, :url => '', :as => :filter, :method => 'get' do |f| %>

    <%= f.label :partnership %>:
    <%= f.select2 :partnership_id, Partnership.active.sort_by(&:short_name).reverse.map{|c| [c.short_name, c.id]},
                  include_blank: true, placeholder: 'Any Partnership', width: '300px' %>

    <%# Sponsors need to be scoped to the Partnership %>
    <%= f.label :sponsor %>:
    <%= f.select2 :sponsor_id, Sponsor.order(:name).map{|c| [c.name, c.id]},
                  include_blank: true, placeholder: 'Any Sponsor', width: '300px' %>

    <%= f.submit 'Go' %>
  <% end %>

</fieldset>