<%= f.label :name, class:'rlabel' %> 
<%= f.text_field :name %><br/>

<%= f.label :program_id, class:'rlabel' %>
<%= f.select2 :program_id, 
              Program.active(f.object.program_id).order('name').map{|q| [q.name, q.id]}, 
              width: '20em', include_blank: true  %>
<br/>

<%= f.label :active, class:'rlabel' %> <%= f.check_box :active %>
<br/>
