body.controller_clients.action_index {

  table.clients_table {

    tbody tr td:nth-child(3), tbody tr td:nth-child(8), tbody tr td:nth-child(9) {
      text-align: center;
    }
  }

  .clients_table .resource_form {

    .rlabel {width: 12em;}
    .innerlabel {
      margin-left: 0.7em;
      &:after {content: ":"}
    }

    textarea {
      margin-top: 0.5em;
      height: 110px;
      width: 750px;
      font-size: 1.0em;
    }

    .scooched {
      margin-bottom: 50px;
    }
    .family_members {
      margin-bottom: 2px;
      div {
        display: inline-block;
        margin-bottom: 2px;
        margin-right: 20px;

        input {width: 100%}
        label {font-weight: bold}
        textarea {
          margin-top: 0.5em;
          height: 70px;
          width: 400px;
          font-size: 1.2em;
        }

        &.first_name  {width: 150px}
        &.age         {width: 60px}
        &.gender      {width: 50px}
        &.race        {width: 50px}
        &.size        {width: 80px}
        &.need        {width: 800px; margin-left: 70px}
      }
    }

  }

}