body.controller_family_members.action_index {

	background-color: white;

  table.family_members_table {

    thead {
    	background-color: #ddd;
    }

    tbody tr td:nth-child(2) {
    	white-space: nowrap;
    }
    tbody tr td:nth-child(3), tbody tr td:nth-child(4), tbody tr td:nth-child(5) {
    	text-align: center;
    }
  }

  @media print {
    
    #menu, #index_actions, #index_filter, .will_paginate {
      display: none;
    }
    
    table, td {
      border-collapse: collapse;
      border: solid 1px gray;
      padding: 5px;
    }
    
    tr td:nth-child(9), tr th:nth-child(9) {
    	display: none;
    }
  }
  
} 
