body.controller_partner, body.controller_sponsorship, body.controller_clients.action_view {

  min-width: 0;
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
  line-height: 18px;
	color: black;
	background-color: #f5fff4;

  a, a:visited, a.unsponsored {
  	color: #006666;
  	text-decoration: underline;
  }
  a:hover {
  	color: red;
  }
  img {
    border: 0px;
  }
  h1 {
    line-height: 1em;
  }
  @media screen {
  	#floatmenu {
  		position: absolute;
  		width: 100%;
  		height: 35px;
  		top: 0;
  		left: 0;
  		background: gray;
  		color: yellow;
  		border: none;
  		z-index: 100;
  	}
  	table.banner {
  		margin:0;
  		border-collapse:collapse;
  		border:1px solid #003366;
  		background-color:#003366;
  		width:100%;
  		height:35px;
  		font-family: verdana, arial, helvetica, sans-serif;
  		font-size:15px;
  		line-height: 200%;
  	}
  	table.banner td {border:none;width:25%;}
  	table.banner td.prev {color:gray;text-align:left;padding-left:10px;width:200px}
  	table.banner td.next {color:gray;text-align:right;padding-right:10px;width:200px}
  	table.banner td.center {text-align:center;}
  	table.banner a {color:white;}
  	table.banner a:visited {color:white;}
  	table.banner a:hover {color:red;}
  }
  /* page divs */
  #container {
  	background-color: #f5fff4;
  	margin: 40px 10px 10px 10px;
  	/* use these for the partial
  	border: solid thick red;
  	padding: 20px;
  	*/
  }
  .header {
  	padding: 5px 0 5px 0;
  	text-align: center;
  	line-height: 150%;
  	font-size: 20px;
  }
  #home_graph {
  	display: block;
  	width: 160px;
  	float: left;
  	text-align: center;
  }
  #css_graph {
  	display: block;
  	float: left;
  	width: 75px;
  	height: 410px;
  	border: 1px solid black;
  	background-color: white;
  	position: absolute;
  	top: 115px;
  	left: 30px;
  }
  #css_graph .bar {
  	width: 25px;
  	margin: 0px 25px;
  	display: inline-block;
  	position: absolute;
  	bottom: 0;
  	vertical-align: baseline;
  }
  #css_graph .green {
  	background-color: green;
  }
  #css_graph .red {
  	background-color: red;
  }
  #home_content {
  	margin-left: 0px;
  	margin-top: 10px;
  	text-align: center;
  }
  #home_content .graph_open {
  	margin-left: 160px;
  }
  #home_content a {
  	font-size: 16px;
  	font-weight:bold;
  	line-height:50px;
  }
  #home_instructions {
  	margin: 25px 0;
  	font-size: 13px;
  	line-height:20px;
  }
  #scope_control {
  	font-size: 16px;
  	text-align: left;
  	margin: 15px 0 5px 0;
  }
  #scope_control input {
  	margin-right: 5px;
  }
  #scope_control label {
  	margin-right: 40px;
  }
  #submitresponse {
  	font-size: 14px;
  	font-weight: bold;
  	color: red;
  	text-align: center;
  	margin: 20px 10px;
  	line-height: 150%;
  }
  #signup_instructions {
    page-break-before: always;
  }
  .flash {
    text-align: center;
    font-weight: bold;
    line-height: 1.1em;
    margin: 10px auto;
  }
  #flash_error {
    color: red;
  }
  #flash_alert {
    color: #ff00ff;
    font-size: 28px;
  }
  #flash_notice {
    color: green;
    font-size: 18px;
  }
  #footer {
  	clear: both;
  	text-align: center;
  }
  /* tablekit lists
    #list is now .clients_table
  */

  table.clients_table, table.family_members_table {
  	border-collapse: collapse;
  	font-size: 14px;

  	td, th {
    	padding: 0.5em;
    	border: 1px solid #CCC;
    }
    th {
    	font-size:12px;
    }
    thead {
    	background-color: #ddd;
    }
    tfoot td {
      background-color: #f5fff4;
    	padding: 0.3em;
    	border: none;
    }
    /*  # in Family and # Sponsored columns */
    tbody tr td:nth-child(2) {
    	white-space: nowrap;
    }
    tbody tr td:nth-child(3), tbody tr td:nth-child(4) {
    	text-align: center;
    }

    tr:nth-child(2n) {
    	background-color: #f2f2f2;
    }


  }
/*
  #list td, th {
    padding: 0.5em;
    border: 1px solid #CCC;
  }
  #list th {
    font-size:12px;
  }
  #list thead, tfoot {
    background-color: #DDD;
  }
  #list tr.rowodd {
    background-color: #FFF;
  }
  #list tr.roweven {
    background-color: #F2F2F2;
  }
  */
  .sortcol {
  	cursor: pointer;
  	padding-right: 20px;
  	background-repeat: no-repeat;
  	background-position: right center;
  }
  .sortasc {
  	background-color: #DDFFAC;
  	/*background-image: url(up.gif);*/
  }
  .sortdesc {
  	background-color: #B9DDFF;
  	/*background-image: url(down.gif);*/
  }
  .nosort {
  	cursor: default;
  }
  /* class styles */
  .checkbox {
  	width: 20px;
  	height: 25px;
  }
  label.checkbox_text {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
  }
  .clearing {
  	height: 0;
  	clear: both;
  }
  .family_number {
  	color: red;
  }
  .instructions {
  	text-align: left;
  	margin: 5px 20px;
    ul li {
      margin-bottom: 10px;
      margin-right: 50px;
    }
  }
  .required {
  	font-family:Verdana, Arial, Helvetica, sans-serif;
  	font-size: 14px;
  	font-weight: bold;
  	color: red;
  }
  .sponsored {
    color: green;
  }
  .unsponsored {
    color: red;
  }
  .text_image_button {
  	margin-left: 4px;
  	margin-right: 4px;
  	cursor: pointer;
  	white-space: nowrap;
  	text-align: center;
  	font-size: 15px;
  }
  .text_image_button img {
  	vertical-align: middle;
  	margin-left: 5px
  }
  .textbox {
  	font-size: 18px;
  }
  .title {
  	line-height: 150%;
  	font-size: 20px;
  }
  /* class styline for various table rows and cells */
  table.noborder tr td {
  	border-collapse: collapse;
  	border-style: none;
  }
  table.client {
  	border-collapse: collapse;
  	font-size: 14px;
  	width: 100%;
  }
  table.client thead tr.header td {
  	border: none;
  	padding: 0;
  	text-align: center;
  	vertical-align: bottom;
  	line-height: 150%;
  	font-size: 20px;
  }
  table.client thead tr.sponsor_link td {
  	border: none;
  	padding: 0 5px 5px 0;
  	text-align: right;
  	margin:0 0 5px 0;
  }
  table.client thead th, tfoot th {
  	background-color: #DDD;
  }
  table.client td, th {
  	padding: 0.5em;
  	border: 1px solid #CCC;
  }
  table.client th {
  	font-size: 12px;
  }
  table.client th.member_name {
  	 width: 180px;
  }
  table.client th.member_age {
  	 width: 25px;
  }
  tr.data {
  	vertical-align: top;
  }
  tr.profile {
  	font-style: italic;
  }
  tr.basket {
  	vertical-align: center;
  	line-height: 250%;
  }
  td.member_name {
  	white-space: nowrap;
  }
  td.age {
  	text-align: center;
  }
  td.issponsored, td.unsponsored {
  	vertical-align: center;
  	white-space: nowrap;
  }
  td.issponsored {
  	color: #009933;
  }
  td.this_sponsor {
    font-weight: bold;
    color: #009933;
    font-size: 1.1em;
  }
  @media screen {
  	td.unsponsored {
  		text-align: left;
  		vertical-align: center;
  		color: red;
  	}
  }
  @media print {
  	td.issponsored {
  		color: green;
  		/* visibility: hidden; */
  	}
  	a.unsponsored {
  		visibility: hidden;
  	}
  	td.noprint {
  		visibility: hidden;
  	}
  	th.noprint {
  		visibility: hidden;
  	}
    table.client thead tr.header td {
          font-size: 48px;
          color: red;
    }
  	#home_content .graph_open {margin-left:0px;}
  	#submitresponse {display: none};
  	#container {margin-top: 0;}
  	#floatmenu {display: none;}
  	#home_graph {display: none;}
  	table.banner {visibility: hidden;}
  	.noprint {visibility: hidden;}
  }

}

body.controller_partner.action_bigboard {

  margin: 5px 15px 5px 5px;

  #container {
    margin: 0;
  }

  div#bigboard {
    .sheet {
      width: 98%;
      margin: 0;
      margin-bottom: 15px;
      border: solid 4px green;
      display: inline-block;
      font-size: 0.9em;

      .client_container {
        font-size: 0.9em;
        .header {
          font-size: 1em;
        }
        table.client {
          width: 99%;
          margin: 0 0 2px 4px;
          font-size: 1em;
          thead tr th {
            font-size: 0.8em;
          }
          thead tr.header td {
            color: green;
          }
          thead tr th.member_name {
            font-size: 0.8em;
            width: auto;
          }
          td.issponsored, td.unsponsored {
            white-space: normal;
          }
        }
      }
    }

    /* iPad (portrait) */
    /*
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
      column-count: 2;
      -moz-column-count: 2;
      -webkit-column-count: 2;
    }
    */

    /* use this for iPads and general smaller width */
    @media only screen and (min-width : 800px) {
      column-count: 1;
      -moz-column-count: 1;
      -webkit-column-count: 1;
    }

    /* 1024 */
    @media only screen and (min-width : 1024px) {
      column-count: 2;
      -moz-column-count: 2;
      -webkit-column-count: 2;
    }

    /* wider screen  */
    @media only screen and (min-width : 1400px) {
      column-count: 3;
      -moz-column-count: 3;
      -webkit-column-count: 3;
    }

    /* even still wider screen  */
    @media only screen and (min-width : 1800px) {
      column-count: 3;
      -moz-column-count: 3;
      -webkit-column-count: 3;
    }

  }

}



