<%# requires: @partnership, @sponsorship, @sponsor, @what, @client, @family_member (if a single) %>


<div id="container">
  <div class="header">
    <%= @organization.name %><br>
    <%= @partnership.drive.full_name %><br>
    <b>Sponsor <%= t("what.#{@what}") %></b>
  </div>

  <%= render :partial => 'public/partner/flash_messages' %>
  <%= render :partial => 'validation_errors', :locals => {record: @sponsor.errors.any? ? @sponsor : @sponsorship} %>
  
  <div id="page_content">
    
    <%= form_for @sponsorship, url: partner_create_sponsor_path(@organization.key, @partnership) do | f | %>

      <%= f.hidden_field :sponsor_id %>
      <%= f.hidden_field :client_id %>
      <%= f.hidden_field :family_member_id %>
      <input type="hidden" name="what" value="<%= @what %>">

      <%= fields_for @sponsor do | s | %>
      
        <table class="client">
        	<tbody>
      	  	<tr>
          		<td width="160px">Family SYC Number:</td>
          		<td><%= @client.casenumber %></td>
          	</tr>
        	
          	<tr>
          		<td>
          		  Family <%= @what == Sponsorship::SINGLE_FAMILY_MEMBER ? 'Member' : 'Members' %>:
          		</td>
          		<td>
          		  <%= @what == Sponsorship::SINGLE_FAMILY_MEMBER ? "#{@family_member.demographics}" : @client.family_members.map(&:demographics).join(', ') %>
          		</td>
          	</tr>

          	<tr>
          		<td>Your Name:<span class="required"> *</span></td>
          		<td><%= s.text_field :name, :class => 'textbox', size: 40 %></td>
          	</tr>

          	<tr>
          		<td>Email Address:<span class="required"> *</span></td>
          		<td><%= s.text_field :email, :class => 'textbox', size: 50 %></td>
          	</tr>

          	<tr>
          		<td>Phone Number:</td>
          		<td><%= s.text_field :phone, :class => 'textbox', size: 20 %></td>
          	</tr>
        	
            <% unless @what == Sponsorship::SINGLE_FAMILY_MEMBER || @client.food_sponsored? %>
          	<tr>
          		<td>Food Basket?</td>
          		<td>
          		  <%= f.check_box :food_basket, :class => 'checkbox', checked: (@what == Sponsorship::FOOD_BASKET) %> 
          		  <label for="sponsorship_food_basket" class="checkbox_text">Yes, I want to sponsor the $50 food basket for this family.</label>
              </td>
          	</tr>
          	<% end %>
        	
            <tr>
              <td colspan="2" class="required">
                * Required
              </td>
            </tr>

        	</tbody>
        </table>

      <% end # fields_for %>

      <div style="text-align:center; margin: 20px 80px">
        <%= f.submit "Submit Your Sponsorship", class: "text_image_button", disable_with: "Submitting..." %>
        <%= link_to "Cancel", partner_client_path(@organization.key, @partnership, @client), class: "text_image_button" %>
        <br/><br/> 
        <div style="color:green">
          You will be returned to the family sheet after you submit your sponsorship where
          you should print the family sheet to use as a guide for shopping. You will also 
          receive an email containing the family sheet and instructions.<br/>
          <br/>
          Thank you.
        </div>
      </div>

    <% end # form_for %>

  </div>   <!-- page_content -->
  
</div>   <!-- container -->

<div class="clearing">&nbsp;</div>
<div id="footer"></div>
