<%# needs @records
          @organization
          @partnership
%>

<%= render 'data_table/table',
           records: @records,
           columns: {
             casenumber:     ->(r){ link_to(r.casenumber, partner_client_path(@organization.key,@partnership,r), remote: false, class: 'edit') },
             name:           ->(r){ link_to(r.first_name, partner_client_path(@organization.key,@partnership,r), remote: false, class: 'edit') },
             num_in_family:  ->(r){ r.family_members.size },
             num_sponsored:  ->(r){ number_sponsored(r.num_sponsored, r.family_members.size) },
             #food_basket:    ->(r){ r.food_sponsored? ? 'Sponsored' : '' },
             family_members: ->(r){ r.family_members.map(&:demographics_and_needs).join("<br/>").html_safe }
             #'' => ->(r){ link_to 'Sponsor', sponsor_client_path(r), remote: true, class: 'edit'}
           }
            %>