<%# expects locals:
                    organization,
                    partnership,
                    client
          optional: this_sponsor - default is nil
                    allow_signup - default is true
                    signup_new_window - default is false
  - instead of walking up the object tree thus avoiding multiple queries
%>

<%
  this_sponsor = nil if this_sponsor.nil?
  allow_signup = true if allow_signup.nil?
  signup_new_window = false if signup_new_window.nil?

  sponsored_count = client.num_sponsored
  unsponsored_count = client.family_members.count - sponsored_count
  sponsor_verbiage = sponsored_count == 0 ? "Sponsor Entire Family" : "Sponsor the #{unsponsored_count} Remaining Individuals in this Family"
  target = signup_new_window ? '_blank' : '_self'
%>
<div class="client_container">
  <table class="client">
  	<thead>
  	  <tr class="header">
  	    <td colspan="5">
  	      FAMILY NUMBER: <b><span class="family_number"><%= client.casenumber %></span></b>
  	    </td>
  	  </tr>
      <% if allow_signup && unsponsored_count > 0 %>
    	  <tr class="sponsor_link">
    	    <td colspan="5">
              <div>
                <%= link_to(sponsor_verbiage, partner_new_sponsor_path(organization.key,partnership,Sponsorship::UNSPONSORED_FAMILY_MEMBERS,client), class: 'unsponsored', target: target) %>
              </div>
    	    </td>
    	  </tr>
      <% end %>
  		<tr>
  			<th class="member_name">NAME</th>
  			<th class="member_age" class="age">AGE</th>
  			<th class="member_size">SIZE</th>
  			<th>GIFT NEEDS</th>
  			<th>SPONSOR</th>
  		</tr>
  	</thead>
  	<tbody>
  	  <% client.family_members.each do |fm| %>

        <%
          # if this_sponsor is provided and is the same sponsor, highlight the name
          addedclass = this_sponsor && fm.sponsored? && this_sponsor.id == fm.sponsor.id ? "this_sponsor" : ""
        %>
        <tr class="data">
          <td class="member_name <%= addedclass %>">
            <%= fm.first_name %> (<%= fm.gender %>)
          </td>
          <td class="age">
            <%= fm.age_string %>
          </td>
          <td class="member_size">
            <%= fm.size %>
          </td>
          <td class="need">
            <%= fm.need %>
          </td>
          <% if fm.sponsored? %>
            <td class="issponsored <%= addedclass %>">
              <%= fm.sponsor.name %>
            </td>
          <% else %>
            <td class="unsponsored">
              <%= link_to("Sponsor This Person", partner_new_sponsor_path(organization.key,partnership,Sponsorship::SINGLE_FAMILY_MEMBER,fm), target: target) if allow_signup %>
            </td>
          <% end %>
        </tr>

  	  <% end %>

  	  <%
        # if this_sponsor is provided and is the same sponsor, highlight the name
        addedclass = this_sponsor && client.food_sponsored? && this_sponsor.id == client.food_sponsor.id ? "this_sponsor" : ""
      %>
  	  <tr class="basket">
  		  <td colspan="3" class="<%= addedclass %>">
  		    FOOD BASKET
  		  </td>
  		  <% if client.food_sponsor.nil? %>
          <td colspan="2" class="unsponsored"><%= link_to("Sponsor Food Basket", partner_new_sponsor_path(organization.key,partnership,Sponsorship::FOOD_BASKET,client), target: target) if allow_signup %></td>
        <% else %>
          <td colspan="2" class="issponsored <%= addedclass %>"><%= client.food_sponsor.name %></td>
        <% end %>
      </tr>

    	<tr class="data profile">
    		<td colspan="5"><%= client.profile %></td>
    	</tr>

  	</tbody>
  </table>
</div>
