<%= content_tag(:div, flash[:error],  :id => "flash_error",  :class => "flash") if flash[:error] %>
<%= content_tag(:div, flash[:alert],  :id => "flash_alert",  :class => "flash") if flash[:alert] %>  
<%= content_tag(:div, flash[:notice], :id => "flash_notice", :class => "flash") if flash[:notice] %>
