<%= form_for @records.filter, :url => '', :as => :filter, :method => 'get' do |f| %>

  <style>
    #new_filter {margin-bottom: 10px;}
    #new_filter label {margin-right: 20px; font-size: 1.2em}
  </style>

  <%= f.radio_button :sponsorship, 'a' %>
  <label for="filter_sponsorship_a">All</label>

  <%= f.radio_button :sponsorship, 's' %>
  <label for="filter_sponsorship_s">Sponsored</label>

  <%= f.radio_button :sponsorship, 'u' %>
  <label for="filter_sponsorship_u">Unsponsored</label>

  <script>
    $('#new_filter input[type=radio]').click(function () {
      $('#new_filter').submit();
    });
  </script>
<% end %>
