<%# needs @records
          @organization
          @partnership
%>

<%= render 'data_table/table',
           records: @records,
           columns: {
             casenumber: ->(r){ link_to(r.client.casenumber, partner_client_path(@organization.key,@partnership,r.client), remote: false, class: 'edit') },
             name:    ->(r){ link_to(r.first_name, partner_client_path(@organization.key,@partnership,r.client), remote: false, class: 'edit') },
             age:     ->(r){ r.age_string },
             gender:  ->(r){ r.gender },
             race:    ->(r){ r.race },
             size:    ->(r){ r.size },
             status:  ->(r){ r.sponsored? ? 'Sponsored' :
                               link_to("Sponsor_This_Person", partner_new_sponsor_path(@organization.key,@partnership,Sponsorship::SINGLE_FAMILY_MEMBER,r), target: '_blank')
                           },
             need:    ->(r){ r.need }
             #'' => ->(r){ link_to 'Sponsor', sponsor_client_path(r), remote: true, class: 'edit'}
           }
            %>