<%# locals: options %>

<%
  options = [:home, :members, :print, :next, :previous] if options.nil?
  client = nil if client.nil?
  admin = admin.nil? ? false : admin
  if client.present?
    ids = Client.for_partnership(@partnership).select(:id).order(:casenumber).map(&:id)
    idx = ids.index(client.id)
    previous_client_id = (idx == 0 ? nil : ids[idx-1])
    next_client_id = ids[idx+1]     # will be nill if outta bounds
  end
%>

<div id="floatmenu">
  <table class="banner">
    <tr>
      <td class="prev" nowrap>
        <% if options.include?(:previous) && client %>
          <% url = previous_client_id && (admin ? view_client_path(previous_client_id) : partner_client_path(@organization.key, @partnership.id, previous_client_id)) %>
          <%= previous_client_id.nil? ? "Previous Family" : link_to("Previous Family", url) %>
        <% end %>
      </td>

      <%# :clients is reserved and used only in the client view admin view to get back to the admin menu %>
      <% if admin %>
        <td class="center" nowrap><%= link_to "Client List", clients_path %></td>
      <% end %>

      <% if options.include?(:home) %>
        <td class="center" nowrap><%= link_to "Home", partner_home_path(@organization.key, @partnership) %></td>
      <% end %>

      <% if options.include?(:members) %>
        <td class="center" nowrap><%= link_to "Family List", partner_clients_path(@organization.key, @partnership) %></td>
      <% end %>

      <% if options.include?(:print) %>
        <td class="center" nowrap><a href="javascript:{window.print();}">Print</a></td>
      <% end %>

      <td class="next" nowrap>
        <% if options.include?(:next) && client %>
          <% url = next_client_id && (admin ? view_client_path(next_client_id) : partner_client_path(@organization.key, @partnership,next_client_id)) %>
          <%= next_client_id.nil? ? "Next Family" : link_to("Next Family", url)%>
        <% end %>
      </td>
    </tr>
  </table>
</div>
