<%# expects: @clients %>

<% content_for :style do %>
  <% if @columns && @columns.to_i > 0 %>
    <style>
    body.controller_partner.action_bigboard div#bigboard {
      column-count: <%= @columns %>;
      -moz-column-count: <%= @columns %>;
      -webkit-column-count: <%= @columns %>;
    }
    </style>
  <% end %>
<% end %>

<div id="container">
  <span style="color:green"><%= @help %></span>

  <div class="header">
    <%= @organization.name %> - <%= @partnership.drive.full_name %> - Signup at aldersgate.org
  </div>

  <div id="bigboard">

    <% @clients.each do |client| %>

      <div class="sheet">
        <%= render :partial => 'client_sheet', :locals => {
                                                organization: @organization,
                                                partnership: @partnership,
                                                client: client,
                                                allow_signup: true,
                                                signup_new_window: true
                                              } %>
      </div>

    <% end %>
  </div>

</div>

<script>
  $(document).ready(function() {
      setTimeout(function(){
         window.location.reload(true);
      }, 600000);
  });
</script>