<%# expects:
              @organization
              @partnership
              @client
%>

<%= render :partial => 'menu', locals: {options: [:members, :print, :next, :previous], client: @client} %>

<div id="container">
  <div class="header">
    <%= @organization.name %><br>
    <%= @partnership.drive.full_name %><br>
  </div>

  <%= render :partial => 'flash_messages' %>

  <%= render :partial => 'client_sheet', :locals => {organization: @organization, partnership: @partnership, client: @client} %>
</div>

<div class="clearing">&nbsp;</div>
<div id="footer"></div>
