<%# expects: @organization, @partnership
 # rendered by public partner controller when there is a single partnership
%>

<style>
  #thanks {
    width: 60%;
    margin: 60px auto;
    color: darkgreen;
  }
  #thanks h1 {
    line-height: 1.3em;
    margin-bottom: 50px;
  }
</style>

<div id="container" style="margin-top:0;">
  <div class="header">
    <%= @organization.name %><br>
    <%= @partnership.drive.full_name %>
  </div>

  <% percent_sponsored = @partnership.percent_sponsored %>
  <div id="css_graph">
    <div style="height: 100%;" class="bar red"></div>
    <div style="height: <%= percent_sponsored %>%;" class="bar green"></div>
  </div>

  <span id="graph_label" style="font-size:13px; font-weight:bold;"><%= percent_sponsored %>% Sponsored!</span>

  <div id="home_content" class="graph_open">

    <% if @partnership.home_page.present? %>

      <div id="thanks">
        <%= raw @partnership.home_page %>
      </div>

    <% else %>

      <div id="links">
        <%= link_to "Family List", partner_clients_path(@organization.key, @partnership) %>
        <br>
        <%= link_to "Individual Member List", partner_members_path(@organization.key, @partnership, filter:{sponsorship: 'u'}) %>
        <br>
        <%= link_to "Instructions & Purchasing Guidelines", partner_instructions_path(@organization.key, @partnership) %>
        <br>
        <%= link_to "About Share Your Christmas", partner_about_path(@organization.key, @partnership) %>

        <div id="home_instructions">
          <b>Instructions for sponsoring over the web:</b>
          <br><br>
          1. Click on the Family List link above.<br>
          2. Click on either the Name link to view the family profile.<br>
          3. Click on the link to sponsor either the entire Family, one Family Member, or the Food Basket.<br>
          4. Complete the sponsor form and click 'Submit Your Sponsorship'<br>
          5. You will be returned to the family information sheet which you should print for shopping reference.<br>
          6. You will also receive an email confirmation with instructions &amp; purchasing guidelines.
        </div>
        <span class="title">Thank You!</span>
      </div>

    <% end %>

  </div>

</div>

<div class="clearing">&nbsp;</div>
