<%# expects: @organization, @partnerships
  #  rendered by public partner controller when more than one partnerships exist for the organization
%>

<div id="container" style="margin-top:0;">

  <h1>There are <%= @partnerships.count %> active drives for <%= @organization.name %></h1>
  <% @partnerships.each do |p| %>
    <h3>
      <%= link_to p.drive.full_name, partner_home_path(@organization.key, p) %>
    </h3>
  <% end %>

</div>