<%# expects: @partnership %>

<%= render :partial => 'menu', locals: {options: [:home, :print] } %>

<div id="container">
  <div class="header">
    <%= @organization.name %><br/>
    <%= @partnership.drive.full_name %><br/>
  </div>

  <div id="dictionary_index">

      <%= render 'members_filter' %>

      <%= render 'members_table' %>
    
      <% if ajaxy? %>
        <script>
          TopsailStarter.DataTable.initialize_ajaxy( $("table.data_table"), $("#index_actions *[data-remote]") );
        </script>
      <% end %>
    
  </div>

</div>