<%# expects:
              @organization
              @partnership
              @client
%>

  <%= render :partial => 'menu', locals: {options: [:home, :members, :print] } %>

  <div id="container">
    <div class="header">
      <%= @organization.name %><br/>
      <%= @partnership.drive.full_name %><br/>
    </div>

    <%= render :partial => 'flash_messages' %>

    <div id="submitresponse">
      Thank you for your sponsorship.<br/>
      Please print this page as a shopping aid.<br/>
      You should also receive an email with instructions.<br/>
      If you do not receive the email shortly, please check any spam filters.<br/>
      The email will be addressed from 'Share Your Christmas'.<br/>
    </div>

    <%= render :partial => 'client_sheet', :locals => {
                                                        organization: @organization, 
                                                        partnership: @partnership, 
                                                        client: @client,
                                                        this_sponsor: @sponsor,
                                                        allow_signup: false
                                                      } %>
  </div>

  <div class="clearing_not_needed">&nbsp;</div>
  <div id="footer_if_needed"></div>

  <div id="signup_instructions" class="instructions">
    <%= raw @partnership.instructions %>
  </div>