<%= f.label :name, class:'rlabel' %>
<%= f.text_field :name %><br/>

<%= f.label :abbreviation, class:'rlabel' %>
<%= f.text_field :abbreviation %><br/>

<%= f.label :season, class:'rlabel' %>
<%= f.text_field :season %><br/>

<%= f.label :active, class:'rlabel' %> <%= f.check_box :active %>