
<%= f.label :drive, class:'rlabel' %>
<%= f.select2 :drive_id, 
              Drive.active(f.object.drive_id).order('name').map{|q| [q.name, q.id]}, 
              width: '20em', include_blank: true  %>
<br/>
<%= f.label :name, class:'rlabel' %> 
<%= f.text_field :name %><br/>

<%= f.label :due_date, class:'rlabel' %> 
<%= f.date_picker :due_date %><br/>

<%= f.label :reminder_date, class:'rlabel' %> 
<%= f.date_picker :reminder_date %><br/>

<%= f.label :description, class:'rlabel' %> 
<%= f.text_field :description %><br/>
