<%# expects f - form builder %>

<div class="family_members">
  <div class="first_name">
    <%= f.text_field :first_name %>
  </div>
  <div class="age">
    <%= f.text_field :age  %>
  </div>
  <div class="gender">
    <%= f.text_field :gender, {maxlength: "1", style: "text-transform: uppercase"}  %>
  </div>
  <div class="race">
    <%= f.text_field :race, {maxlength: "1", style: "text-transform: uppercase"} %>
  </div>
  <div class="size">
    <%= f.text_field :size %>
  </div>
  <br/>
  <div class="need">
    <%= f.text_field :need %>
  </div>
  <%= f.link_to_remove_fields image_tag('minus.png') %>
</div>
