<%
  drives = Drive.active(f.object.drive_id).order('name desc')
  f.object.drive_id = drives.first.id if f.object.new_record? && drives.count == 1

  # -> later on it will be ideal to implement dependent select
  partnerships = (f.object.drive ? Partnership.for_drive(f.object.drive) : Partnership).active(f.object.partnership_id).select(&:available)
  partnerships << Partnership.find(f.object.partnership_id) if f.object.partnership_id.present?
  f.object.partnership_id = partnerships.first.id if f.object.new_record? && partnerships.count == 1
%>

<%= f.label :drive_id, class:'rlabel' %>
<%= f.select2 :drive_id,
              drives.map{|r| [r.full_name, r.id]},
              width: '30em', include_blank: true  %>
<br/>

<%= f.label :partnership_id, class: 'rlabel' %>
<%= f.select2 :partnership_id,
              partnerships.sort_by(&:name).map{|r| [r.name, r.id]},
              width: '35em', include_blank: true  %>
<br/>

<%= f.label :social_worker_id, class: 'rlabel' %>
<%= f.select2 :social_worker_id,
              SocialWorker.active(f.object.social_worker_id).order('name').map{|r| [r.name, r.id]},
              width: '20em', include_blank: true  %>

<%= f.label :casenumber, class: 'innerlabel' %>
<%= f.text_field :casenumber, size: 6 %><br/>

<%= f.label :first_name, class: 'rlabel' %>
<%= f.text_field :first_name, size: 20 %>

<%= f.label :last_name, class: 'innerlabel' %>
<%= f.text_field :last_name, size: 20 %><br/>

<%= f.label :address, class: 'rlabel' %>
<%= f.text_field :address, size: 50 %><br/>

<%= f.label :city, class: 'rlabel' %>
<%= f.text_field :city, size: 18 %>

<%= f.label :state, class: 'innerlabel' %>
<%= f.text_field :state, size: 3 %>

<%= f.label :zip, class: 'innerlabel' %>
<%= f.text_field :zip, size: 8 %><br/>

<%= f.label :phone, class: 'rlabel' %>
<%= f.text_field :phone, size: 60 %><br/>

<%= f.label :profile, class: 'rlabel' %>
<%= f.text_area :profile %><br/>

<%= f.label :deliverable, class: 'rlabel' %> <%= f.check_box :deliverable %>
<br/>

<%= f.label :notes, class: 'rlabel' %>
<%= f.text_area :notes %><br/>

<%= f.label :verified, class: 'rlabel' %> <%= f.check_box :verified %>
<br/>

<div>
  <h4>Family Members</h4>
  <div class="family_members">
    <div class="first_name"> <label>First Name </label></div>
    <div class="age"><label>Age</label></div>
    <div class="gender"><label>Gender</label></div>
    <div class="race"><label>Race</label></div>
    <div class="size"><label>Size</label></div>
  </div>
  <div>
      <%= f.fields_for :family_members do |member_form| %>
        <%= render "family_member_fields", f: member_form %>
      <% end %>
  </div>
  <%= f.link_to_add_fields "Add Family Member", :family_members %>
</div>

