<%# needs @records %>
<fieldset id="index_filter">

  <%= form_for @records.filter, :url => '', :as => :filter, :method => 'get' do |f| %>

    <%= f.label :partnership %>:
    <%= f.select2 :partnership_id, Partnership.active.sort_by(&:short_name).reverse.map{|c| [c.short_name, c.id]},
                  include_blank: true, placeholder: 'Any Partnership', width: '300px' %>

    <%# existing filters %>
    <% (@records.filter_keys - [:partnership_id]).each{ |k| %>
      <%= @records.model.human_attribute_name(k) %>:
      <span style="font-style:italic"><%= f.object[k] %></span>
      <%= f.check_box k, {}, f.object[k], '' %>
    <% } %>

    <%= f.submit 'Go' %>
  <% end %>

</fieldset>