<%
  client = @client

  sponsored_count = client.num_sponsored
  unsponsored_count = client.family_members.count - sponsored_count
  sponsor_verbiage = sponsored_count == 0 ? "Sponsor Entire Family" : "Sponsor the #{unsponsored_count} Remaining Individuals in this Family"
%>

<%= render :partial => 'public/partner/menu', locals: {options: [:admin, :print, :next, :previous], client: client, admin: true} %>

<style>
  tbody.family_members td {font-size: 0.8em}
  table.client th.member_name {width: 50px;}
  table.client td.member_name {width: 50px;}
</style>

<div id="container">
  <div class="header">
    <%= @organization.name %><br>
    <%= @partnership.drive.full_name %><br>
  </div>


  <table class="client">
  	<thead>
  	  <tr class="header">
  	    <td colspan="2">
  	      FAMILY NUMBER: <b><span class="family_number"><%= client.casenumber %></span></b>
  	    </td>
  	  </tr>
  	</thead>
  	<tbody>
      <tr class="data">
        <td style="width: 120px;">Name:</td>
        <td>
          <%= "#{client.first_name} #{client.last_name}" %><br/>
        </td>
      </tr>
      <tr class="data">
        <td>Address:</td>
        <td>
          <%= "#{client.address}" %><br/>
          <%= "#{client.city}, #{client.state} #{client.zip}" %><br/>
        </td>
      </tr>
      <tr class="data">
        <td>Phone(s):</td>
        <td>
          <%= "#{client.phone}" %>
        </td>
      </tr>
      <tr class="data">
        <td>Social Worker:</td>
        <td>
          <%= "#{client.social_worker.andand.name}" %><br/>
          <%= "#{client.social_worker.andand.phone}" %>
        </td>
      </tr>
      <tr class="data">
        <td>Notes:</td>
        <td>
          <%= client.notes %>
        </td>
      </tr>

    </tbody>
  </table>


  <div class="client_container">
    <table class="client">
    	<thead>
    	  <tr class="header">
    	    <td colspan="7" style="padding-top: 10px; font-size: 0.9em">
    	      Family Members
    	    </td>
    	  </tr>
    		<tr>
    			<th class="XXmember_name">NAME</th>
    			<th class="member_age" class="age">AGE</th>
    			<th class="member_gender">SEX</th>
    			<th class="member_race">RACE</th>
    			<th class="member_size">SIZE</th>
    			<th>GIFT NEEDS</th>
    			<th>SPONSOR</th>
    		</tr>
    	</thead>
    	<tbody class="family_members">
    	  <% client.family_members.each do |fm| %>

          <tr class="data">
            <td class="XXmember_name">
              <%= fm.first_name %>
            </td>
            <td class="age">
              <%= fm.age_string %>
            </td>
            <td class="gender">
              <%= fm.gender %>
            </td>
            <td class="race">
              <%= fm.race %>
            </td>
            <td class="member_size">
              <%= fm.size %>
            </td>
            <td class="need">
              <%= fm.need %>
            </td>
            <% if fm.sponsored? %>
              <td class="issponsored">
                <%= fm.sponsor.name %>
              </td>
            <% else %>
              <td class="unsponsored">
                None
              </td>
            <% end %>
          </tr>

    	  <% end %>

      	<tr class="data profile">
      		<td colspan="7"><%= client.profile %></td>
      	</tr>

    	</tbody>
    </table>
  </div>

  <div style="page-break-before: always; margin-top: 20px;">
    <span style="font-size:1.2em; font-weight:bold;">
      SYC# <%= client.casenumber %><br/>
      <%= client.address %>, <%= client.city %>, <%= client.state %> <%= client.zip %>
    </span>
    <div id="map_canvas_1" style="width: 660px; height: 800px;"></div>
  </div>

  <div style="page-break-before: always; margin-top: 20px;">
    <span style="font-size:1.2em; font-weight:bold;">
      SYC# <%= client.casenumber %><br/>
      <%= client.address %>, <%= client.city %>, <%= client.state %> <%= client.zip %>
    </span>
    <div id="map_canvas_2" style="width: 660px; height: 800px;"></div>
  </div>

</div>


<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script>
  var map1, map2, geocoder, marker, infowindow;

  function initialize() {
    var street = '<%= client.address %>',
        city = '<%= client.city %>',
        state = '<%= client.state %>',
        zip = '<%= client.zip %>',
        info = 'SYC# <%= client.casenumber %>';

    var mapOptions = {
      center: new google.maps.LatLng(35.225236,-82.836716),
      zoom: 12,
      panControl: false,
      streetViewControl: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map1 = new google.maps.Map(document.getElementById("map_canvas_1"), mapOptions);
    map2 = new google.maps.Map(document.getElementById("map_canvas_2"), mapOptions);
    geocoder = new google.maps.Geocoder();
    geocodeAddress(map1, 11, street, city, state, zip, info);
    geocodeAddress(map2, 15, street, city, state, zip, info);
  }

  function geocodeAddress(map, zoom, street, city, state, zip, otherinfo) {
    var address = street + ', ' + city + ' ' + state + ' ' + zip;
    var info = (otherinfo && (otherinfo + '<br/>') || '') + address;
    geocoder.geocode( {'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        marker = new google.maps.Marker({map: map, position: results[0].geometry.location, draggable: true});
        if (marker) {
          marker.setPosition(results[0].geometry.location);
          map.setCenter(results[0].geometry.location);
          marker.setTitle(address);
          map.setZoom(zoom);
          infowindow = new google.maps.InfoWindow({content: info});
          google.maps.event.addListener(marker, 'click', function() {infowindow.open(map, marker)});
          infowindow.setContent(info);
          //infowindow.open(map, marker);
        }
      } else {
        alert(status);
      }
    });

  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
