
<%= f.label :drive_id, class: 'rlabel' %>
<%= f.select2 :drive_id,
              Drive.active(f.object.drive_id).order('name').map{|r| [r.full_name, r.id]},
              width: '30em', include_blank: true  %>
<br/>

<%= f.label :organization_id, class: 'rlabel' %>
<%= f.select2 :organization_id,
              Organization.active(f.object.organization_id).order('name').map{|r| [r.name, r.id]},
              width: '25em', include_blank: true  %>
<br/>

<%= f.label :leader_id, class: 'rlabel' %>
<%= f.select2 :leader_id,
              UserProfile.active(f.object.leader_id).order('name').map{|r| [r.name, r.id]},
              width: '20em', include_blank: true  %>
<br/>

<%= f.label :instructions, class: 'rlabel' %>
<div style="float: left; width: 600px">
  <%= f.text_area :instructions, :class => "ckeditor" %><br/>
</div>
<div style="clear: both"></div>

<%= f.label :about, class: 'rlabel' %>
<div style="float: left; width: 600px">
  <%= f.text_area :about, :class => "ckeditor" %><br/>
</div>
<div style="clear: both"></div>

<h3 style="color:red">If any Home Page content is provided, it will REPLACE the normal links</h3>
<%= f.label :home_page, class: 'rlabel' %>
<div style="float: left; width: 600px">
  <%= f.text_area :home_page, :class => "ckeditor" %><br/>
</div>

<div style="clear: both"></div>
<%= f.label :active, class: 'rlabel' %> <%= f.check_box :active %>


<script>
  // $(document).ready(function() {
  //     $('.ckeditor').ckeditor();
  // });
</script>