
<%= f.label :name, class: 'rlabel' %> 
<%= f.text_field :name %><br/>

<%= f.label :email, class: 'rlabel' %> 
<%= f.text_field :email %><br/>

<%= f.label :phone, class: 'rlabel' %> 
<%= f.text_field :phone %><br/>

