<%# needs f - the form builder for the UserProfile %>

<div class="grid">
  <div class="col-8-12">
    
    <%= f.label :email, class:'rlabel' %> <%= f.text_field :email %><br/>
    <%= f.label :name,  class:'rlabel' %> <%= f.text_field :name %>

  </div>

  <fieldset class="col-4-12">

      <legend>Login Statistics</legend>
      <% %w(sign_in_count   current_sign_in_at   current_sign_in_ip   last_sign_in_at   last_sign_in_ip).each do |column| %>
        <% col_val = f.object.read_attribute(column) %>
        <span class="rlabel"><%= UserProfile.human_attribute_name(column) %></span>
        <%= col_val.is_a?(Time) ? l(col_val) : col_val %>
        <br/>
      <% end %>

  </div>
</div>


<label class="rlabel" style="margin-top: 0.6em">Permissions</label>

<div id="permissions">
  <%= f.collection_check_boxes(:permissions, 
                               Permission::ALL_KEYS, 
                               :to_s, 
                               ->(s){ t(s, scope: 'permissions')})  %>
</div>

<div style="clear:both"></div>

