
<%= f.label :sponsor_id, class: '' %>
<%= f.select2 :sponsor_id,
              Sponsor.all.order('name').map{|r| [r.name, r.id]},
              width: '25em', include_blank: true  %>
<br/>
<br/>

Client: <%= f.object.client.andand.name %>
<br/>
<br/>

Family Member: <%= f.object.family_member.andand.name %>
<br/>
<br/>

Created: <%= l(f.object.created_at, format: :short) %>
<br/>
<br/>
