<%# needs @records %>
<fieldset id="index_filter">

  <%= form_for @records.filter, :url => '', :as => :filter, :method => 'get' do |f| %>

    <%= f.label :partnership %>:
    <%= f.select2 :partnership_id, Partnership.all.sort_by(&:short_name).reverse.map{|c| [c.short_name, c.id]},
                  include_blank: true, placeholder: 'Any Partnership', width: '200px' %>

    <%= f.label :sponsor %>:
    <%= f.select2 :sponsor_id, Sponsor.all.map{|c| [c.name, c.id]},
                  include_blank: true, placeholder: 'Any Sponsor', width: '280px' %>

    <label>SYC#: <%= f.text_field :syc_number, style: 'width: 80px' %></label>
    <!--
    <%# f.label :client %>:
    <%# f.select2 :client_id, Client.all.map{|c| [c.name, c.id]},
                  include_blank: true, placeholder: 'Any Client', width: '150px' %>

    <label>After:  <%= f.datetime_picker :after, style: 'width: 120px' %></label>
    <label>Before: <%# f.datetime_picker :before, style: 'width: 120px' %></label>
    -->

    <%= f.submit 'Go' %>
  <% end %>

</fieldset>