<%= content_tag(:div, flash[:error],  :id => "flash_error",  :class => "errors") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => "flash_notice", :class => "errors") if flash[:notice] %>
<%= content_tag(:div, flash[:alert],  :id => "flash_alert",  :class => "errors") if flash[:alert] %>  

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <%= f.label :email %> 
  <%= f.text_field :email, :type => "text", :autocorrect => "off", :autocapitalization =>"off" %>

  <%= f.label :password %> 
  <%= f.password_field :password %>

  <% if devise_mapping.rememberable? -%>
    <div id="remember">
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div>
    <%= f.submit "Sign in", :class => 'submit' %>
  </div>
    
<% end %>

<%= render "devise/shared/links" %>

<script type="text/javascript">
  document.getElementById('user_profile_email').focus();
</script>
