<%# expects: @partnership, @sponsor %>

<div id="container">

  <div id="reminder">
    <p>
      Dear Share Your Christmas Supporter,
    </p>
    <p>
      Thank you for sponsoring SHARE YOUR CHRISTMAS families in previous years. This year, I hope that you will again consider
      sponsoring either an entire family or individuals or a Family Food Basket. You can view the family profiles
      of individuals who are asking for support on our Aldersgate Share Your Christmas website at:
      https://shareyourchristmas.net/partner/aldersgate
    </p>
    <p>
      Thank you for making a difference for these families this Christmas season.
    </p>
    <p>
      Richard
      <br/>
      <br/>
      <br/>
      Richard Low on behalf of<br/>
      The Aldersgate United Methodist Men
    </p>
  </div>

  <br/>

  <div id="about" style="font-size:0.9em">
    =====
    <h2>About Aldersgate's Share Your Christmas Program</h2>
    <p>
      Share Your Christmas is a Durham County, Department of Social Services program that is advertised to the
      Durham area through the support of the Durham Herald Sun. The objective is to provide Christmas gifts to
      needy families in Durham County. Beginning in early November families call DSS and make a Christmas gift
      wish list for their family members.  Families range in size of single adults to large extended families
      of 8 or more.
    </p>
    <p>
      Since 1988 Aldersgate, through the coordination of the United Methodist Men, has selected families to be sponsored
      by the congregation through the purchase of new gifts for family members or the contribution of monies for
      food baskets, which accompany each family's gifts. UMM members devote a weekend before Christmas
      purchasing bulk foods, packing food baskets for each family, and delivery gifts directly to families homes,
      usually to the delight of children and gracious hugs and 'God Bless You' from parents and guardians.
    </p>
  </div>

</div>