<%# expects: @partnership, @sponsor %>

<div id="container">

  <div id="reminder">
    <p>
      Dear Share Your Christmas Supporter,
    </p>
    <p>
      Thank you for helping SHARE YOUR CHRISTMAS families in previous years.
    </p>
    <p>
      We still have <%= @partnership.family_members.count - @partnership.family_members.joins(:sponsorship).count %> family members who are not sponsored and tomorrow is the last day to sign up.
    </p>
      Please consider sponsoring at least one person. Together we can make sure all of these families have a joyous Christmas.
    </p>
    <p>
      Please visit our Aldersgate Share Your Christmas website at https://shareyourchristmas.net/partner/aldersgate
    </p>
    <p>
      Thank you for making a difference this Christmas season.
    </p>
    <p>
      Richard
      <br/>
      <br/>
      <br/>
      Richard Low on behalf of<br/>
      The Aldersgate United Methodist Men
    </p>
  </div>

</div>