<%# expects: @partnership, @sponsor %>

Dear Share Your Christmas Supporter,

Thank you for helping SHARE YOUR CHRISTMAS families in previous years.

We still have <%= @partnership.family_members.count - @partnership.family_members.joins(:sponsorship).count %> family members who are not sponsored and tomorrow is the last day to sign up.

Please consider sponsoring at least one person. Together we can make sure all of these families have a joyous Christmas.

Please visit our Aldersgate Share Your Christmas website at https://shareyourchristmas.net/partner/aldersgate

Thank you for making a difference this Christmas season.

Richard



Richard Low on behalf of
The Aldersgate United Methodist Men
