<%# expects: @partnership, @sponsor, @family_members, @clients %>

<%= @partnership.organization.name %>
<%= @partnership.drive.full_name %>

SHARE YOUR CHRISTMAS REMINDER

Thank you for your sponsorship support of the SHARE YOUR CHRISTMAS program. Please remember these guidelines and time line for the purchase and delivery of your Family's gifts. The family members you sponsored are listed below.

Please return wrapped gifts with the appropriate name and Family Christmas Number and return them to the church on SATURDAY morning, December 12th. or at the very latest, by 9:30am SUNDAY morning December 13th. The Family Life Center gym will have tables set up for you to place your gifts on Saturday and Sunday morning.

Please wrap and tag gifts with both the name of the recipient and the Family Christmas Number. Attach this tag securely on each individual gift. Delivery of gifts and the food baskets by the UMM will be made Sunday, December 13th beginning at noon. If you would like to help deliver gifts, please contact Richard Low at rlow@topsailtech.com


Sponsor: <%= @sponsor.name %>
=============================

<% if @family_members.any? %>
These are the individuals you sponsored:
---------------------------------------
  <% @family_members.sort_by(&:casenumber).sort_by(&:age).reverse.each do |fm| %>

  SYC Family Number: <%= fm.casenumber %>
  Name: <%= fm.first_name %> (<%= fm.gender %>)
  Age: <%= fm.age_string %>
  Size: <%= fm.size %>
  Gift Requests: <%= fm.need %>
  <% end %>
<% end %>

<% if @clients.any? %>

These are the Christmas Food Baskets you sponsored:
--------------------------------------------------
  <% @clients.sort_by(&:casenumber).each do |client| %>

  SYC Family Number: <%= client.casenumber %>
  Name: <%= client.first_name %> <%= client.last_name %>

  <% end %>
<% end %>
