<%# expects locals: 
                    organization, 
                    partnership, 
                    client
          optional: this_sponsor - default is nil
                    allow_signup - default is true
  - instead of walking up the object tree thus avoiding multiple queries
%>
<%= @organization.name %>
<%= @partnership.drive.full_name %>

Thank you for your sponsorship
------------------------------

FAMILY NUMBER: <%= @client.casenumber %>
  
<% @client.family_members.each do |fm| %>
--------
 Name: <%= fm.first_name %> (<%= fm.gender %>)
 Age: <%= fm.age_string %>
 Size: <%= fm.size %>
 Gift Requests: <%= fm.need %>
 <% if fm.sponsored? %>
 Sponsor: <%= fm.sponsor.andand.name %>
 <% end %>

<% end %>

<% if @client.food_sponsor.present? %>
CHRISTMAS FOOD BASKET Sponsor: <%= @client.food_sponsor.name %>
<% end %>

<%= @client.profile %>
