<%# expects:
              @organization
              @partnership
              @client
%>

<div id="submitresponse">
  Thank you for your sponsorship.
</div>

<div id="container">
  <div class="header">
    <%= @organization.name %><br/>
    <%= @partnership.drive.full_name %><br/>
  </div>

  <%= render :partial => 'public/partner/client_sheet', :locals => {
                                                      organization: @organization, 
                                                      partnership: @partnership, 
                                                      client: @client,
                                                      this_sponsor: @sponsor,
                                                      allow_signup: false
                                                    } %>
</div>

<div id="signup_instructions" class="instructions">
  <%= raw @partnership.instructions %>
</div>