// Tweaks what we get from TopsailStarter
table.data_table {
  
  .will_paginate {
    font-size: small;
    .page_info { float: right; }
  }
  
}

.will_paginate{
  @extend .flickr_pagination;
  .pagination { float: left; }
  .page_info { padding-top: inherit}
}