#dictionary_index{
  font-family: $ffDefault;
  font-size: 0.9em;
  color: #333333;

  > h1 {
    display: inline-block; // so that filters can go next to it
  }

  fieldset#index_filter {
    float: right;
    border: solid thin #EEE;
    padding: 1em;

    legend {
      display: none;
      font-size: 80%;
    }

    label { margin-right: 2px; }

    div.select2-container {
      margin-right: 10px;
      font-size: 1.1em;
    }

  }

}
