.resource_form {

  padding: 2em;
  
  label {
    margin-top: 0.8em;
  }
  
  input[type="text"] {
    font-size: 1.0em;
    padding: 0.2em;
    margin: 0.3em 0;
  }
  
  input[type="checkbox"] {
    margin: 0.8em 0;
  }
  
  .rlabel {
    width: 10em; float: left; text-align: right;
    &:after {content: ':'; margin-right: 0.5em}
    &.long {width:15em}
    &.nocolon {
      &:after {content: ''}
    }
  }

  .collection_check_boxes {
    label {
      margin-top: 0;
      &:before { content: '\A'; padding-left: 0.2em;}
      &:after { content:"\A"; white-space:pre; }
    }
  }
  
  .alert_box {
    color: #ff0000;
  }
  
}

.data_table .resource_form {
  border: solid thick #CCC;
  
  div.select2-container {
    margin: 0.3em 0;
  }
  
}

