
<%= f.label :name, class:'rlabel' %>
<%= f.text_field :name %><br/>

<%= f.label :key, class:'rlabel' %>
<%= f.text_field :key %><br/>

<%= f.label :abbreviation, class:'rlabel' %>
<%= f.text_field :abbreviation %><br/>

<%= f.label :email_from, class:'rlabel' %>
<%= f.text_field :email_from %><br/>

<%= f.label :image_name, class:'rlabel' %>
<%= f.text_field :image_name %><br/>

<%= f.label :active, class:'rlabel' %> <%= f.check_box :active %>
