<!DOCTYPE html>
<html>
<head>
  <title><%= t("application.partner_title") %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="controller_<%= controller.controller_name %> action_<%= params[:action] %>">

  <nav id="menu">
    <% perms = current_user.permission_keys %>
    <%= menu_tag [
        perms.include?(:setup_programs) && {"Setup" => [Program, Drive, Deadline, Organization, Partnership, SocialWorker]},
        perms.include?(:register_clients) && { "Register" => [Client, FamilyMember]},
        perms.include?(:register_clients) && { "View" => [Sponsor, Sponsorship]},
        perms.include?(:setup_user_profiles) && UserProfile,

        {'Log Out' => destroy_user_profile_session_path, :method => :delete, :id => 'signout', li_atts: {style: 'float: right; width: 100px'}},
        nil # {'Account' => workflow_change_current_station_path, li_atts: {style: 'float: right; width: 100px'}}
      ]%>
  </nav>

  <%= content_for?(:content) ? yield(:content) : yield %>


</body>
</html>
