<!DOCTYPE html>
<html>
<head>
  <title><%= t("application.name") %></title>

  <%= csrf_meta_tags %>
  
  <style>

  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
  	display: block;
  }
  body {
  	line-height: 1;
  }
  ol, ul {
  	list-style: none;
  }
  blockquote, q {
  	quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
  	content: '';
  	content: none;
  }
  table {
  	border-collapse: collapse;
  	border-spacing: 0;
  }

  /* end reset css */

  /* form boilerplate */
  form p {
    margin: 0;
  }
  label {
      display: block;
      margin-bottom: 0;
  }
  input, textarea, select {
      display: block;
      margin: 4px 0 24px 0;
  }
  input[type=text], input[type=email], input[type=url], input[type=password], textarea {
      width: 100%;
      border: 1px solid;
      border-color: #ccc;
      border-color: rgba(0,0,0,.1);
      height: 30px;
      background: #fff;
      background: rgba(255,255,255,.8);
      font-size: 16px;
      line-height: 30px;
      padding: 0 5px;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
  }

  /* end form boilerplate*/

  input[type="submit"]{
    /* float: right; */
  	color: #fff;
  	font-weight: bold;
  	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  	font-size: 14px;
  	padding: 10px 15px;
  	margin-bottom: 10px;
    
  	background: #74c2e3;
  	border: 1px solid #56aacd;
  	/* inline block hack */
  	display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
  	/* rounded corners hack */
  	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  	/* gradiant hack */
  	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007E99), color-stop(100%, #00657B));
    background-image: -webkit-linear-gradient(#007E99, #00657B);
    background-image: -moz-linear-gradient(#007E99, #00657B);
    background-image: -o-linear-gradient(#007E99, #00657B);
    background-image: linear-gradient(#007E99, #00657B);
  	/* box shadow hack */
  	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
  }

  html, body {
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    background-image: url("/assets/gray_tile.png") repeat !important;
    width: 100% !important;
  }
  
  h2 {
    color: #00657B;
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  a {
    color: #00657B;
    line-height: 22px;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  
  #wrapper {
    width: 500px;
    margin: auto;
    margin-top: 100px;
  }

  #login_box {
    width: 100%;
    background: #fff;
    color: #404040;
    -webkit-box-shadow: 0px 0px 5px #333333;
    -moz-box-shadow: 0px 0px 5px #333333;
    box-shadow: 0px 0px 50px #C2C2C2;
  }

  #login_box h1 {
    width: 96%;
    padding: 2%;
    color: #fff;
    font-size: 20px;
    background: #00657B;
    text-shadow: 1px 1px 4px#000;
  }

  #login_box #content {
    padding: 30px 50px 30px;
  }

  .errors:empty {
    display: none;
  }

  .errors {
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    background: #C60F13;
    /* inline block hack */
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline
  }

  div#error_explanation {
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    background: #C60F13;
    /* inline block hack */
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline
  }

  div#error_explanation h2 {
    display: none;
  }

  #remember input, label {
    display: inline-block;
    margin-right: 10px;
  }

  </style>
  
</head>

<body class="controller_<%= controller.controller_name %> action_<%= params[:action] %>">
  
  <div id="wrapper">
    <div id="login_box">
      <h1><%= t("application.name") %></h1>
      
      <div id="content">
        <%= yield %>
        <div style="clear: both"></div>
      </div>
      
    </div>
  </div>

</body>
</html>
