<%# not sure we will need this anymore, but I didn't want to throw away the approach of nesting templates.... %>
<% content_for :content do %>

  <%= yield %>

<% end %>

<%= render template: "layouts/application" %>