<!DOCTYPE html>
<html>
<head>
  <title>Share Your Christmas</title>
  <style>
    body {
      min-width: 0;
      padding: 0 10px;
      font-family: Helvetica,Arial,sans-serif;
      color: #333333;
    }
    h1 {
    	font-size: 18px;
    }
    h2 {
    	font-size: 16px;
    }
    h3 {
    	font-size: 15px;
    }
    p {
      margin-bottom: 10px;
    }
    .header {
    	padding: 5px 0 5px 0;
    	text-align: center;
    	line-height: 150%;
    	font-size: 20px;
    }
    table.client {
    	border-collapse: collapse;
    	font-size: 14px;
    	width: 100%;
    }
    table.client thead, tfoot {
    	background-color: #DDD;
    }
    table.client td, th {
    	padding: 0.5em;
    	border: 1px solid #CCC;
    }
    table.client th {
    	font-size: 12px;
    }
    table.client th.member_name {
    	 width: 180px;
    }
    table.client th.member_age {
    	 width: 25px;
    }
    tr.data {
    	vertical-align: top;
    }
    tr.profile {
    	font-style: italic;
    }
    tr.basket {
    	vertical-align: center;
    	line-height: 250%;
    }
    td.member_name {
    	white-space: nowrap;
    }
    td.age {
    	text-align: center;
    }
    td.issponsored, td.unsponsored {
    	vertical-align: center;
    	white-space: nowrap;    
    }
    td.issponsored {
    	color: #009933;
    }
    td.this_sponsor {
      font-weight: bold;
      color: #009933;
      font-size: 1.1em;
    }
  </style>
  <%= yield :style %>
</head>
<body>
  <%= yield %>
</body>
</html>
