<!DOCTYPE html>
<html>
<head>
  <title><%= t("application.partner_title") %></title>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= yield :style %>

  <!--[if gt IE 8]><!-->
  <%= javascript_include_tag "public" %>
  <!--<![endif]-->
  <%= yield :script %>

  <link rel="apple-touch-icon" href="<%= image_url('holly56x56.png') %>"/>
  <link rel="apple-touch-icon" sizes="72x72" href="<%= image_url('holly72x72.png') %>"/>
  <link rel="apple-touch-icon" sizes="114x114" href="<%= image_url('holly114x114.png') %>"/>
  <%= csrf_meta_tags %>

</head>
<body class="controller_<%= controller.controller_name %> action_<%= params[:action] %>">

  <%= content_for?(:content) ? yield(:content) : yield %>

</body>
</html>
